:host {
  display: block;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  &.cdk-drag-preview {
    .cdk-drag__btn {

      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      border: solid 1px #32b1bd;

      .cdk-drag__indicator-icon {
        background-image: url('/assets/icons/assign-map/drag-indicator-draged.svg');
      }
    }
  }
    &.cdk-drag-placeholder {
      .cdk-drag__btn {
        border: dashed 1px rgba(0, 0, 0, 0.12);
        background-color: rgba(0, 0, 0, 0.05);
      }

      .cdk-drag__text {
        visibility: hidden;
      }

      .cdk-drag__indicator-icon {
        display: none;
      }
    }
}

.cdk-drag__btn {
  width: 100%;
  height: 100%;
  background-color: #f8feff;
  padding: 0;
  cursor: all-scroll;
  border: solid 1px #e0e0e0;
  border-radius: 3px;
  padding: 5px;

  .cdk-drag__indicator-icon {
    background-image: url('/assets/icons/assign-map/drag-indicator.svg');
    width: 18px;
    height: 18px;
  }

  &:focus {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #32b1bd;

    .cdk-drag__indicator-icon {
      background-image: url('/assets/icons/assign-map/drag-indicator-draged.svg');
    }
  }
}

.cdk-drag__btn__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cdk-drag__text {
  font-size: 15px;
}
