@import "../../../../assets/scss/mixins";

.map-list {
  border-radius: 3px;
  border: solid 1px #d7d7d7;
  padding: 10px;
  height: 100%;
  overflow: auto;

  &.cdk-drop-list-dragging {
    border: dashed 2px #32b1bd;
    height: calc(100% - 24px);

    .header__text {
      color: #32b1bd;
    }

    .header__icon {
      background-image: url('/assets/icons/assign-map/default-stroke-draged.svg');
    }

    ::ng-deep .cdk-drag-placeholder {
      display: none;
    }
  }
}

.mat-form-field {
  width: 100%;

  &::ng-deep {
    .mat-form-field-outline {
      background-color: #ffffff;
    }
  }
}

.header {
  display: flex;
  align-items: center;
}

.header__icon {
  background-image: url('/assets/icons/assign-map/default-stroke.svg');
  display: block;
  width: 20px;
  height: 20px;
}

.header__text {
  font-size: 1.7rem;
  line-height: 1.18;
  letter-spacing: normal;
  font-weight: normal;
  padding-left: 5px;
  @include rtl {
    padding-left: 0;
    padding-right: 5px;
  }
}
