<section id="map-list" cdkDropList (cdkDropListDropped)="drop($event)">
  <header class="header">
    <i class="header__icon"></i>
    <h2 class="header__text">Available Maps</h2>
  </header>
  <mat-form-field appearance="outline">
    <mat-label>Sort maps by:</mat-label>
    <mat-select [formControl]="sortCtrl">
      <mat-option *ngFor="let sortingOption of sortingOptions" [value]="sortingOption.state">
        {{ sortingOption.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <ng-template [ngIf]="!treeNodes">
    <mv-map-item *ngFor="let wingMapItem of mapList?.alphabeticallyNodes" [wingMapItem]="wingMapItem"></mv-map-item>
  </ng-template>
  <mv-map-tree
    *ngIf="!!treeNodes"
    [treeNodes]="treeNodes"></mv-map-tree>
</section>

