<section class="building-list">
  <header class="header">
    <i class="header__icon"></i>
    <h2 class="header__text">{{buildingItem.buldingName}}</h2>
  </header>

  <section class="building" *ngFor="let floorItem of buildingItem.items |  orderBy: 'sequence': true">
    <header class="building__header">
      <i class="building__header__icon"></i>
      <h3 class="building__header__text">{{floorItem.floorName}}</h3>
    </header>
    <div class="building__area" *ngFor="let wingItem of floorItem.items">
      <h4 class="building__area__text">{{wingItem.wingName}}</h4>
      <mv-map-item *ngIf="wingItem.map" [wingMapItem]="wingItem.map" [connectToDropList]="['map-list']"></mv-map-item>
      <div class="building__area__drag" *ngIf="!wingItem.map" cdkDropList id="{{wingItem.id}}}">
        drag available map here
      </div>
    </div>
  </section>
</section>

